@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
	background:#24272e;
	font-family:'Open Sans', sans-serif;
	font-weight:bold;
}

*{
	margin:0px;
	padding:0px;
}

header{
	
	background:white;
	padding:20px;
}


header > h1{
	font-family: 'Open Sans', sans-serif;
	color:#24272e;
	text-align: center;
}

.scoreboard{
	border:3px solid white;
	width:200px;
	padding:15px 20px ;
	margin: 20px auto;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:40px;
	border-radius: 10px;
	text-align:center;
	position:relative;
}

.badge{
	background:red;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	padding: 2px 10px; 
}

#user-label{
	position:absolute;
	top:30px;
	left:-20px;
}

#computer-label{
	position:absolute;
	top:30px;
	right:-30px;
}
.span{
	teal-align:center;
}

.result{
	color:white;
	text-align:center;
	font-size:40px;
}
.choices{
	margin-top:50px;
	text-align:center;
	}

.choice{
	display:inline-block;
	width:150px;
	border:4px solid white;
	height:150px;
	padding: 2rem;
	margin:20px;
	border-radius:10px;
	transition: all 1s ease;
}

.choice:hover{
	cursor:pointer;
	background:white;
	
}

#p img{
	width:150px;
	height:150px;
}

#r img{
	width:150px;
	height:150px;
}

#s img{
	width:150px;
	height:150px;
}
#action-message{
	text-align:center;
	padding:20px;
	color:white;
	font-weight:bold;
	font-size:25px;
	margin-top:20px;
}

.green-glow{
	border: 4px solid #4dcc7d;
	box-shadow: 0 0 10px #31b43a;
}

.red-glow{
	border: 4px solid #fc121b;
	box-shadow: 0 0 10px #d01115;
}

.grey-glow{
	border: 4px solid #464647;
	box-shadow: 0 0 10px #25292b;
}

